{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "overrides": [
    {
      "files": ["config/*.js"],
      "rules": {
        "import/order": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 120],
    "vue/max-attributes-per-line": "off"
  }
}
