{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:vue/recommended", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["config/*.js"],
      "rules": {
        "import/order": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": ["chai-friendly"],
  "rules": {
    "chai-friendly/no-unused-expressions": 2,
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      {
        "code": 90,
        "ignorePattern": "it\\('"
      }
    ],
    "newline-before-return": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "no-return-assign": "off",
    "no-unused-expressions": "off",
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": "off"
  }
}
